

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" @* style="background-color:#212b36 *@">
            <form>
                <div class="row">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                    <div class="">
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>