@using eMovie.ViewModels
@model TrailerViewModel

<div class="trailer">
    <iframe class="trailer" height="500" width="900" src="@Model.TrailerUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
    clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>